<!--<div class="jumbotron text-center" style="margin-bottom:0">
  <h2>Welcome to RulesEngine</h2>
  <p></p> 
</div>-->
<div>
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark"> 
  <!--navbar-dark bg-dark-->
   <a class="navbar-brand" href="">RulesEngine</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span> </a>
      </li>-->
      <li class="nav-item active">
        <a class="nav-link" href="/rulestables">Tables <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rulescolumns">Columns <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active ">
        <a class="nav-link" href="/tablejoins">Joins <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/transformations">Transformations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rules">Rules <span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="/masterrules">MasterRules <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/masterconfig">Main screen <span class="sr-only">(current)</span></a>
      </li>

      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul> 
    </div>
</nav>
</div>



   
