<!DOCTYPE html>
<!-- Displays the tables list of selected schema -->
<div class= "jumbotron container title" style="margin-top:80px">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <div>Master Screen</div>
</div>

<p>
  masterconfig works!
</p>


<!--<div style="width: 300px; margin-bottom: 20px;">
  <h3>Select columns</h3>
  <ng-select  [multiple]="true"
              [items]="items"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              placeholder="No city selected"></ng-select>
  <pre>{{itemsToString(value)}}</pre>
  
  <div>
  </div>
</div>-->

<!--<div class="app-block" #application>
    <iui-listbox [appRef]="applicationRef" [items]="items" [allowDrag]="true" [allowDrop]="false" 
                 [controlStyle]="listStyle" [selectionMode]="selMode" #listbox>
        <iui-listitem *ngFor="let item of items" [controlStyle]="itemStyle" [allowAnimation]="true">  
            <div class="lbox-dd-copy-item-content">
                <span class="lbox-dd-copy-icons {{item.icon}}"></span>
                <span class="lbox-dd-copy-title">{{item.text}}</span>
                <span class="lbox-dd-copy-year">{{item.year}}</span>
            </div>
        </iui-listitem>
    </iui-listbox>
    <iui-listbox [appRef]="applicationRef" [items]="cloneItems" [controlStyle]="cloneListStyle" (dragDrop)="listDrop($event)" #listboxCopy>
        <iui-listitem *ngFor="let item of cloneItems" [controlStyle]="itemStyle" [allowAnimation]="true">  
            <div class="lbox-dd-copy-item-content">
                <span class="lbox-dd-copy-icons {{item.icon}}"></span>
                <span class="lbox-dd-copy-title">{{item.text}}</span>
                <span class="lbox-dd-copy-year">{{item.year}}</span>
            </div>
        </iui-listitem>
    </iui-listbox>
</div>-->
