<!DOCTYPE html>

<div class= "jumbotron container title" style="margin-top:80px">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <div>RULES</div>
</div>

<div class="jumbotron container">

    
<!--line 1-->

<div class="form-group">
        <div class="input-group">
            <div class="col-sm">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" name="searchText1" placeholder="Type to search..." [(ngModel)]="searchText1"/>
                </div><!--nested col-sm-3-->
                </div><!-- /.form-group > .row -->
            </div><!-- /.col-sm-9 -->
        </div>
    </div><!-- /.form-group --> 
<table class=" container table table-bordered table-hover" style="background-color: white">
    <thead>
        <tr >
            <th scope="col" >COLUMN SEQ NBR</th>
            <th scope="col" >COLUMN NAME</th>
            <th scope="col" >COLUMN DESC</th>
            <th scope="col" >COLUMN DATA TYPE</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let column of allcolumns | 
                    filter : {column_seq_nbr: searchText1, column_name: searchText1,
                    column_desc: searchText1, column_data_type: searchText1};"  
                    [class.selected]="column === selectedColumn.column_name"
                    (click)="onSelect(column)"
                    (change)="onChange($event.target.checked)">
            <td> {{column.column_seq_nbr}} </td>
            <td> {{column.column_name}}</td>
            <td> {{column.column_desc}}</td>
            <td> {{column.column_data_typ}}</td>
        </tr>  
    </tbody>
</table>

<!--line 2-->

<div class="form-group">
        <div class="input-group">
            <div class="col-sm">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" name="searchText" placeholder="Type to search..." [(ngModel)]="searchText"/>
                </div><!--nested col-sm-3-->
                </div><!-- /.form-group > .row -->
            </div><!-- /.col-sm-9 -->
        </div>
    </div><!-- /.form-group -->  
<table  class="table table-bordered table-hover" style="background-color: white">
    <thead class="thead">
        <tr >
            <th scope="col" >TRANSFORM SEQ NBR</th>
            <th scope="col" >DESCRIPTION</th>
            <th scope="col" >SUBJECT SEQ NBR</th>
            <th scope="col" >TRANSFORM RAW CODE</th>
            <th scope="col" >TRANSFORM DATA TYPE</th>
        </tr>
    </thead>
    <tbody class="table-col">
        <tr class="clickable-row" 
            *ngFor="let trans of alltransformations | 
                    filter :{transform_SEQ_NBR: searchText, description: searchText, transform_RAW_CODE: searchText,
                    trans_DATA_TYPE: searchText};"
            [class.selected]="trans === selectedTrans.transform_SEQ_NBR"
            (click)="onSelecttrans(trans)">
            <td> {{trans.transform_SEQ_NBR}} </td>
            <td> {{trans.description}}</td>
            <td> {{trans.subject_SEQ_NBR}}</td>
            <td> {{trans.transform_RAW_CODE}}</td>
            <td> {{trans.trans_DATA_TYPE}}</td>
        </tr>
    </tbody>
</table>
<!--line 3-->
<form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label class="col-sm-4 control-label text-right">Condition Details</label>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <input type="radio" name="optradio1" checked> Operand 1
                    </div>
                    <div class="col-sm-4 form-group">
                        <input type="radio" name="optradio1" checked> Operand 2
                    </div>
            </div> <!--/.form-group > .row <-->
            </div><!--/.col-sm-9 -->
    </div> <!--/.form-group-->

    <!--line 4-->

<!--to display the selected columns*ngIf="selectedColumn"-->

<div class="form-group" >
    <label class="col-sm-4 control-label text-right">operand1 ID</label>
    <div class="col-sm-8">
        <div class="row">
                <div class="col-lg-4 form-group">
                    <input type="text" class="form-control"
                        [(ngModel)]="selectedColumn.column_seq_nbr" 
                        name="column_seq_nbr" 
                        placeholder="column_seq_nbr">
                         <!--[value]='column1_seq_nbr' (input)='column1_seq_nbr=$event.target.value'
                        (ngModelChange)="allpredicates.column1_seq_nbr"-->
                </div>
                <div class="col-lg form-group">
                    <input type="text" rows="2" class="form-control"
                        [(ngModel)]="selectedColumn.column_name"
                        [value]='column_name' (input)='column_name=$event.target.value'
                        (ngModelChange)="allpredicates.column_name" 
                        name="column_name" 
                        placeholder="column_name">
                    
                </div>
            </div>
    </div> <!--nested col-sm-6-->
</div> <!--/.form-group > -->

    <!--line 5-->

<div class="form-group" >
    <!--*ngIf="selectedTrans"-->
    <label class="col-sm-4 control-label text-right">operand2 ID</label>
    <div class="col-sm-8">
        <div class="row">
                <div class="col-lg-4 form-group" >
                    <input type="text" class="form-control"
                        [(ngModel)]="selectedTrans.transform_SEQ_NBR" 
                        name="transform_SEQ_NBR" 
                        placeholder="transform_SEQ_NBR">
                </div>
                <div class="col-lg form-group">
                    <textarea type="text" rows="2" class="form-control form-control-lg"
                        [(ngModel)]="selectedTrans.transform_RAW_CODE" 
                        name="transform_RAW_CODE" 
                        placeholder="transform_RAW_CODE">
                    </textarea>
                </div>
        </div>
    </div> <!--nested col-sm-6-->
</div> <!--/.form-group > -->

    <!--line 6-->

    <div class="form-group">
    <label class="col-sm-4 control-label text-right">Operators</label>
        <div class="col-sm-8">
            <div class="row">
            <div class="col-sm-4 form-group">
                <select type="text" class="form-control form-control-lg" 
                        [(ngModel)] ="allPredicatesList.operator_ID" name="operator_ID">
                    <option> --- Select --- </option>
                    <option *ngFor="let qualify of allrulesqualifier">
                    <h5>{{qualify.qualifier_TXT}}</h5>
                    </option>
                </select>
            </div>
        </div><!-- /.form-group > .row -->
        </div><!-- /.col-sm-9 -->
    </div> <!-- /.form-group-->

    <!--line 7-->

    <div class="form-group">
        <label class="col-sm-4 control-label text-right"></label>
        <div class="col-sm-8">
        <div class="row">
            <div class="col-offset-4 col-sm-8 form-group">
                <input type="checkbox" class="form-check-input" id="exampleCheck1"> 
                <br>
                <label class="form-check-label" for="exampleCheck1"> User Defined Value(PARM for Parameter) </label>
            </div>
        </div><!-- /.form-group > .row -->
        </div><!-- /.col-sm-9 -->
    </div> <!-- /.form-group-->

    <!--line 8-->

    <div class="form-group">
    <label class="col-sm-4 control-label text-right">Cond Desc</label>
        <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-8 form-group">
                <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
        </div><!-- /.form-group > .row -->
        </div><!-- /.col-sm-9 -->
    </div> <!-- /.form-group-->

    <!--line 9-->

    <div class="form-group">
    <label class="col-sm-4 control-label text-right"></label>
        <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-2 form-group">
                <button class="btn btn-success btn-md">Create new</button>
            </div>
            <div class="col-sm-2 form-group">
                <button class="btn btn-primary btn-md">Update</button>
            </div>
            <div class="col-sm-2 form-group">
                <button class="btn btn-primary btn-md">Clear</button>
            </div>
        </div><!-- /.form-group > .row -->
        </div><!-- /.col-sm-9 -->
    </div> <!-- /.form-group-->
</form>
</div>


<div class= "jumbotron container">
    <div class="draggable">here are some draggables</div>
    <br>
    <div class="draggable">you can drop any of these</div>
    <br>
    <div class="draggable">in the text box and the</div>
    <br>
    <div class="draggable">text will be set to its contents!</div>
    <br>
    <div id="droppableHolder">
        Drop in this text box:<br />
        <br />
        <textarea type="text" id="droppable" ></textarea>
    </div>
</div>

