<!DOCTYPE html>
<!-- Displays the tables list of selected schema -->
<div class= "jumbotron container title" style="margin-top:80px">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <div>TABLES</div>
</div>

<div class=" jumbotron container">
        <form (ngSubmit)="onSubmit(); myForm.reset()">
            <form (ngSubmit)="onclickSearch()">
                <div class="form-group">
                    <label class="col-sm-3 control-label text-right">Schema Name</label>
                    <div class="col-sm-9">

                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <select type="text" class="form-control form-control-lg" 
                                    [value]='owner' 
                                    (input)='owner = $event.target.value'
                                    name="user.table_owner" 
                                    [(ngModel)]="user.table_owner" 
                                    (ngModelChange)="user.table_owner = $event" >
                                <option>---select---</option>
                                <option *ngFor= "let owner of listschemas">
                                    {{owner.user_name}}
                                </option>
                            </select>
                            
                        </div><!--nested col-sm-6-->
                        
                        <div class="col-sm-6 form-group">
                            <button type="submit" class="btn btn btn btn-success btn-sm">  SCHEMA LIST  </button>
                        </div><!--nested col-sm-6-->

                    </div><!-- /.form-group > .row -->
                    </div><!-- /.col-sm-9 -->
                </div> <!-- /.form-group-->
            </form>
                <div class="form-group">
                <label class="col-sm-3 control-label text-right">Table Name</label>
                    <div class="col-sm-9">

                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <select type="text" class="form-control form-control-lg" 
                                    [(ngModel)] ="user.table_name" name="table_name">
                                <option> --- Select --- </option>
                                <option *ngFor="let table of tablename">
                                    <h5>{{table.table_name}}</h5>
                                </option>
                            </select>
                        </div><!--nested col-sm-6-->
  
                    </div><!-- /.form-group > .row -->
                    </div><!-- /.col-sm-9 -->
                </div> <!-- /.form-group-->

                <div class="form-group">
                <label class="col-sm-3 control-label text-right">Description</label>
                    <div class="col-sm-9">

                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <input type="text" [(ngModel)]="user.table_desc" placeholder="Description" 
                                   name="table_desc" class="form-control form-control-lg" id="table_desc">
                        </div>

                    </div><!-- /.form-group > .row -->
                    </div><!-- /.col-sm-9 -->
                </div> <!-- /.form-group-->

                <div class="form-group">
                <label class="col-sm-3 control-label text-right">Alias</label>
                    <div class="col-sm-9">

                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input type="text" class="form-control" id="table_prefix_name" placeholder="Alias"
                                   required [(ngModel)]="user.table_prefix_name" name="table_prefix_name">
                        </div>
                    
                    </div><!-- /.form-group > .row -->
                    </div><!-- /.col-sm-9 -->
                </div> <!-- /.form-group-->

                <div class="form-group">
                <label class="col-sm-3 control-label text-right">Table Size</label>
                    <div class="col-sm-9">

                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <select class="form-control form-control-lg"  id="table_size_cd" 
                                    required [(ngModel)]="user.table_size_cd" name="table_size_cd">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div>
                       
                    </div><!-- /.form-group > .row -->
                    </div><!-- /.col-sm-9 -->
                </div> <!-- /.form-group-->

                <div class="form-group">
                <label class="col-sm-3 control-label text-right">Table Type</label>
                    <div class="col-sm-9">

                    <div class="row">

                        <div class="col-sm-6 form-group">
                            <select class="form-control form-control-lg" id="table_typ" 
                                    required [(ngModel)]="user.table_typ" name="table_typ">
                                    <option>Temp</option>
                                    <option>Perm</option>
                            </select>
                        </div>

                    </div><!-- /.form-group > .row -->
                    </div><!-- /.col-sm-9 -->
                </div> <!-- /.form-group-->
                
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3">
                        <button type="submit" class="btn btn-primary btn-custom"> Submit </button>
                    </div><!-- /.col-sm-offset-3 col-sm-9 -->
                    
                </div><!-- /.form-group -->  
                
                <div [hidden]="!submitted" class="col-sm-offset-3 col-sm-9" >
                    <h6>You submitted successfully!</h6>
                    <!--<button class="btn btn-success" (click)="newTable()">Add</button>-->
                </div>

    </form> <!-- /.form submit()-->
  
</div> <!-- /.jumbotron container -->

<!--////////////////////////////////////////tabel list//////////////////////////////////////////////////-->

<div class="jumbotron container">
<div class=" container">
<div class="form-group">
     <div class="input-group">
        <div class="col-lg">
        <div class="row">

            <div class="col-sm-4 form-group">
                <input type="text" class="form-control" name="searchText" placeholder="Type to search..." [(ngModel)]="searchText"/>
            </div>
            <!--nested col-sm-3-->

            <div class="col-sm-6 form-group ">
                <button class="btn btn-primary btn-md btn-group text-right" (click)="onClickMe()">Refresh</button>
            </div>
            <!--nested col-sm-3-->

            </div><!-- /.form-group > .row -->
        </div><!-- /.col-sm-9 -->
    </div>
</div><!-- /.form-group -->

    <table class=" container table table-bordered table-hover" style="background-color: white">
        <thead class="thead">
            <tr >
                <th scope="col" >TABLE ID</th>
                <th scope="col" >TABLE OWNER</th>
                <th scope="col" >TABLE NAME</th>
                <th scope="col" >TABLE DESC</th>
                <th scope="col" >ALIAS</th>
                <th scope="col" >TABLE TYPE</th>
            </tr>
        </thead>
        <tbody style="background-color: white">
            <tr *ngFor="let user of users |paginate: { itemsPerPage: count, currentPage: p } |
                        filter : {table_name: searchText, table_owner: searchText, table_desc: searchText, table_prefix_name: searchText}; " 
                        (mouseover) ="highlightRow(user)"
                        [ngClass]="{'highlight': user == selectedtable}">
                <td > {{user.table_seq_nbr}}</td>
                <td > {{user.table_owner}}</td>
                <td > {{user.table_name}}</td>
                <td > {{user.table_desc}}</td>
                <td > {{user.table_prefix_name}}</td>
                <td > {{user.table_typ}}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div> 