  tbody{
    height:500px;
    overflow-y:scroll;
    font-size: 12px;
    background-color: whitesmoke;
    }

 thead{
    display: relative;
    text-align: center;
    font-size: 12px;
    width: 100%;
    background-color:#264E36 ;
    color: whitesmoke;
    text-align: center;
    }

.jumbotron{
    background-color: #DFE3EE;
    }

.title{
    text-align: center;
    height: 50px;
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    padding-top: 0px;
    background-color:#264E36 ;
    /*#577284*/
    color: whitesmoke;
}

table {
    display:block;
    height:300px;
    width: 100%;
    font-size: 12px;
    overflow: scroll;
}

td{
    width: 300px;
    font-size: 12px;
}

th{
    width: 300px;
    font-size: 12px;
}




body {
    font-family: sans-serif;
    font-size: 11pt;
}
.draggable {
    width: 250px;
    height: 20px;
    background-color: #e6eaff;
    border: 2px solid #3399cc;
    margin-bottom: 1em;
    padding: 4px;
    cursor: default;
}
.active {
    border: 2px solid #6699ff;
}
#droppable {
    font-size: 14pt;
    width: 400px;
}
#droppableHolder {
    margin-top: 5em;
}



